$main_color: rgba(33, 150, 243, 1);

/**
  Override bootstrap styles
*/
.navbar-default{
  border-radius: 0;
  .navbar-nav{
    li{
      &.current{
        a{
          color: black;
        }
      }
    }
  }
}
.col-sm-2{
  padding:0;
}

body{
  background:$main_color;
}

section{
  margin-bottom:50px;
  .container{
    min-height:1000px;
    border-radius: 2px;
    background-color: #FFFFFF;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }
}

.grid{
  .book{
    height:200px;
    text-align: center;
    margin-bottom:20px;
    line-height: 200px;
    @media screen and (max-width: 768px) {
      height:400px;
      line-height: 400px;
    }
    @media screen and (max-width: 625px) {
      height:300px;
      line-height: 300px;
    }
    img{
      vertical-align: bottom;
      max-width:100%;
      max-height:100%;
      bordeR:1px solid black;
    }
  }
}

.markdown-body {
  min-width: 200px;
  margin: 0 auto;
  padding: 20px 0;
}

.search-item{
  img{
    bordeR:1px solid black;
    float:left;
    margin: 0 20px 0 0;
  }
}

.search-results{
  min-height:880px;
}

.notfound{
  text-align: center;
  img{
    width:600px;
    max-width:100%;
    margin:40px auto;
  }
}

.book, .author{
  .book_cover{
    float:left;
    border:1px solid black;
    margin: 0 20px 20px 0;
    width:247px;
    max-width:100%;
    min-height:100px;
    @media screen and (max-width: 625px) {
      float:none; display:block; margin: 20px auto;
    }
  }
}

.authors{
  color:#666;
}

.author-books{
  min-height:440px;
}

.average_rating{
  cursor: pointer;
}

.average_rating_label{
  display:none;
}

.average_rating:hover + .average_rating_label{
  display:inline-block;
}

.progress{
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:5px;
  .progress-bar{
    -webkit-transition-duration:5s;
    transition-duration:5s;
  }
  &.ng-enter, &.ng-leave {
    -webkit-transition:opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    transition:opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;

    opacity:1;
  }

  &.ng-leave.ng-leave-active, &.ng-enter {
    opacity:0;
  }

  &.ng-leave.ng-leave-active {
    .progress-bar{
      -webkit-transition:none;
      transition:none;
    }
  }

  &.ng-enter.ng-enter-active {
    opacity:1
  }
}

.view-animate-container {
  position:relative;
}

.view-animate{
  &.ng-enter, &.ng-leave {
    -webkit-transition:opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    transition:opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;

    opacity:1;
    position:absolute;
    top:0;
    left:15px; // set from bootstrap
    right:15px;
    bottom:0;
  }

  &.ng-leave.ng-leave-active, &.ng-enter {
    opacity:0;
  }

  &.ng-enter.ng-enter-active {
    opacity:1
  }
}

.include-animate-container {
  position:relative;
}

.include-animate{
  &.ng-enter, &.ng-leave {
    -webkit-transition:opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    transition:opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;

    opacity:1;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }

  &.ng-leave.ng-leave-active, &.ng-enter {
    opacity:0;
  }

  &.ng-enter.ng-enter-active {
    opacity:1
  }
}
