<!doctype html>
<html ng-app="Magma">
	<head>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>Magma</title>

		<!-- build:css({app,.tmp}) styles/main.css -->
		<link rel="stylesheet" href="/components/bootswatch/paper/bootstrap.css">
		<link rel="stylesheet" href="/styles/main.css">
		<!-- endbuild -->
	</head>
	<body>
		<header>
			<div class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">Magma</a>
					</div>
					<div>
						<ul class="nav navbar-nav navbar-right">
							<li class="current"><a href="/views">Views</a></li>
							<li><a href="/directives">Directives</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>

		<section>
			<div class="container" mg-view>
				{{{body}}}
			</div>
		</section>

		<!-- build:js scripts/vendor.js -->
		<script src="/components/angular/angular.js"></script>
		<script src="/components/angular-route/angular-route.js"></script>
		<script src="/components/angular-bootstrap/ui-bootstrap.js"></script>
		<!-- endbuild -->

		<!-- build:js scripts/app.js -->
		<script src="/scripts/app.js"></script>
		<script src="/scripts/directives/mgView_directive.js"></script>
		<!-- endbuild -->
	</body>
</html>